* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 20px;
  color: var(--main-black-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-red-color: #f25262;
  --main-white-color: #fffdff;
  --default-back-color: #000000;
  --main-black-color: #3f3f3f;
  --main-not-active-button: #383939;
  --main-gray-color: #f5f4f5;
  --default-footer-color: #3f3f3f;
}
