.results {
  background-color: var(--main-white-color);
  min-height: 80vh;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 80px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.myLoader {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.buttonContainer {
  margin-top: 20px;
  text-align: center;
}

.buttonShow {
  background-color: var(--main-red-color);
  padding: 10px 60px;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-white-color);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .container {
    padding: 40px 0;
  }
}
