.results {
  background-color: var(--main-white-color);
  min-height: 80vh;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

@media screen and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 40px 0;
  }
}
